@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*Medium and Below*/
@media screen and (max-width: 768px) {
    .box {
        width: 350px;
        height: 250px;
        margin-top: 15px;
    }
    .box .text {
        position: absolute;
        top: 30px;
        left: -15px;
        width: calc(100% + 30px);
        height: calc(100%);
        background-color: #2C3A47;
        border-radius: 3px;
        transition: 0.4s;
    }
    .box:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 50px);
        border-bottom: 20px solid #fff;
        border-right: 20px solid #fff;
        box-sizing: border-box;
    }
    .box .text .fa1 {
        position: absolute;
        top: 0px;
        left: 0;
    }
    .box .fa2 {
        position: absolute;
        bottom: -50px;
        right: 0;
        z-index: 1;
    }
    .box .text div h3 {
        font-size: 25px;
        margin-bottom: 5px;
    }
    .box .text div p {
        font-size: 12.5px;
    }
    #why_go_green h4,
    #eco_friendly h4 {
        color: rgba(0, 0, 0, 0.3);
        font-size: 5em;
    }
    #why_go_green p,
    #eco_friendly p {
        font-size: 25px;
        font-family: 'Quicksand';
    }
}
/*Above Medium*/
@media screen and (min-width: 769px) {
    .box {
        width: 600px;
        height: 300px;
        margin-top: 15px;
    }
    .box .text {
        position: absolute;
        top: 30px;
        left: -30px;
        width: calc(100% + 60px);
        height: calc(100% - 60px);
        background-color: #2C3A47;
        border-radius: 3px;
        transition: 0.4s;
    }
    .box:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 20px solid #fff;
        border-right: 20px solid #fff;
        box-sizing: border-box;
    }
    .box .text .fa1 {
        position: absolute;
        top: 0;
        left: 0;
    }
    .box .fa2 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    .box .text div h3 {
        font-size: 30px;
        margin-bottom: 5px;
    }
    .box .text div p {
        font-size: 15px;
    }
    #why_go_green_m{
        display: none;
    }
    #why_go_green h4,
    #eco_friendly h4 {
        color: rgba(0, 0, 0, 0.3);
        font-size: 5em;
    }
    #why_go_green p,
    #eco_friendly p {
        font-size: 25px;
        font-family: 'Quicksand';
    }
}

html,
body {
  scroll-behavior: smooth;
  background-color: #aaff83;
  overflow-x: hidden;
  /* display: grid; */
  /* grid-template-columns: auto 0px;  */
}

.navbar-brand {
    font-family: 'Cookie';
    font-size: 30px;
    color: white;
    transition: 0.5s all;
}
.navbar-brand:hover {
    /* text-decoration: underline; */
    color: white;
    letter-spacing: 2px;
    transition: 0.5s all;
}
.navbar-brand img{
    transition: 1s all;
}
.navbar-brand:hover img{
    transform: rotate3d(0, 1, 0, 360deg);
    transition: 1s all;
}

.nav-item {
    padding-right: 30px;
}

.navbar {
    background-color: rgba(11, 60, 45, 0.9) !important;
    transition: 0.5s all;
}

.navbar ul li {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  transition: background 0.2s;
}
.navbar ul li a {
  /* color: #2375D8; */
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}
.navbar ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: block;
  padding: 0;
  background: #FFA91B;
  border: 2px solid #F7C833;
  border-right: 2px solid #F89329;
  border-bottom: 2px solid #F89329;
  border-radius: 5px;
  transition: opacity 0.2s, visibility 0.2s;
  list-style-type: none;
}
.navbar ul li ul li {
  margin: -2px 0 0 -2px;
  min-width: calc(100% - 20px);
  line-height: 1.7;
}
.navbar ul li ul li a {
  color: #2375D8;
}
.navbar ul li:hover {
  background: #EC4138;
  border: 2px solid #F05749;
  border-right: 2px solid #E02A21;
  border-bottom: 2px solid #E02A21;
}
.navbar ul li:hover a {
  color: #F9F8FD;
}
.navbar ul li:hover ul {
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 3px 5px 2px #0000002f;
}
.navbar ul li:hover ul li a {
  color: black;
}


.hover-1 {
    color: white;
}
.hover-1:hover,
.hover-1.active,
.hover-1:focus {
    background-color: #FFFF4E;
    color:black !important;
}


#quote {
    background-color: #b71540;
    height: 350px;
}
/* START QUOTE SECTION */
.box {
    background-color: transparent;
    border-radius: 3px;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 600px;
    height: 300px; */
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: 0.4s;
    text-align: center;
}
.box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;
    box-sizing: border-box;
}
.box .fas {
    font-size: 25px;
    height: 50px;
    width: 50px;
    line-height: 50px !important;
    background-color: #fff;
    color: #2C3A47;
}
.box .text div {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 30px 60px;
    line-height: 1.5;
    box-sizing: border-box;
}
.box:hover {
    transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
}
.box:hover .text {
    transform: rotateY(20deg) skewY(-3deg);
}
/* END QUOTE SECTION */

#why_go_green {
    background-color:lightblue;
}
#why_go_green .col-6:nth-child(2),
#eco_friendly .col-6:nth-child(1) {
    padding: 20px;
}
#eco_friendly {
    background-color:#f5deb3;
}

footer {
    width: 100%;
    height: 200px;
    background: url('/assets/images/footer.png') bottom;
    background-size: 100px;
    background-repeat: repeat-x;
    font-family: 'Quicksand';
    font-size: 110%;
}

footer .col-12{
    padding-top: 20px;
    text-align: center;
}

footer li{
    list-style: none;
    display: inline;
}

footer li + li:before {
    content: " | ";
    padding: 0 10px;
}

footer a {
    color: black;
    text-decoration: none;
}

#top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    /* padding: 5px; */
    border-radius: 100%;
    height: 45px;
    width: 45px;
}

#top:hover {
    background-color: #464545;
}
.hero {
    margin : 0 auto;
    text-align: center;
}

.hero img{
    max-height:500px;
}

#recycle_main .hero{
    background-color: rgb(56, 177, 78);
}
#beachcleanup_main .hero {
    background: rgb(208,233,238);
    background: linear-gradient(180deg, rgba(208,233,238,1) 0%, rgba(208,233,238,1) 43%, rgba(122,173,200,1) 43%, rgba(122,173,200,1) 45%, rgba(95,148,180,1) 51%, rgba(250,215,131,1) 56%);}
#responsibility_main .hero{
    background-color: #00AA95;
}
#contact_main .hero{
    background-color: #d2d2d2;
}

.main_content{
    padding-top: 30px;
    padding-bottom: 30px;
    background-repeat: repeat;
}
.main_content>div{
    padding: 20px;
    border-radius: 30px;
}
.main_content h4 {
    font-family: 'Quicksand';
}
.main_content h5 {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
.main_content>div>ul>li {
    font-family: 'Poppins';
    padding-top: 20px;
    list-style-type: none;
}

#recycle_main .main_content{
    background-image: url('../images/go-green-pattern.jpg');
}
#beachcleanup_main .main_content{
    background-image: url('../images/beach-cleanup-pattern.jpg');
}

#recycle_main .main_content>div{
    background-color: rgba(11, 60, 45, 0.95);
    /* background-color: rgba(56, 177, 78, 0.92); */
    border: 5px solid #FFFF4E;
    color: white;
}
#beachcleanup_main .main_content>div{
    background-color: rgba(250, 214, 131, 0.86);
    border: 5px solid #28527A;
    color: black;
}

#recycle_main .main_content h5{
    text-decoration-color: #FFFF4E;
}
#beachcleanup_main .main_content h5{
    text-decoration-color: #28527A;
}